{% extends 'base.html' %}

{% block header %}
<h2 style="color:red">Please Register</h2>
{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
    <form method="post">
    {% csrf_token %}
    <p>username : <input type="text", name="username"></p>
    <p>password : <input type="password", name="password"></p>
    <p>confirm : <input type="password", name="confirm"></p>
        <input type="submit" value="注册" style="font-size: large">
        <label style="color: red">{{ msg }}</label>

    </form>

    <p>If you have Account, please <a href="{% url 'teach:login' %}">登录</a></p>

{% endblock %}